::-webkit-scrollbar {
    width:16px
}

::-webkit-scrollbar-thumb {
    height:56px;
    border-radius:8px;
    border:4px solid transparent;
    background-clip:content-box;
    background-color:#484e51
}

::-webkit-scrollbar-thumb:hover {
    background-color:#555c60
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body {
    background-color: #000000;
    color: #FFF;
    font-family: sans-serif;
    /* overflow-x: hidden; */
}

#img {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(165deg,
        rgb(0 0 0) 0%,
        rgba(0,0,0,.7) 20%,
        rgba(0,0,0,.4) 75%,
        rgba(0,0,0,.2) 100%),
        url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: hue-animation 2s alternate infinite;
    z-index: -1;
}

@keyframes hue-animation {
    100% {
        filter: hue-rotate(15deg) blur(20px);
    }
}

/* The Modal (background) */
.edit-modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

  /* Modal Content */
.modal-content {
    position: absolute;
    top: 50%; right: 50%;
    transform: translate(50%,-50%);
    background-color: #161616;
    width: 300px;
    /* height: 1000px; */
    border-radius: 25px;
    border: solid #FFF;
}

/* Add Animation */

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

.modal-header {
    top: 0px;
    background-color: #161616;
    color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 16px;
    border-bottom: solid #FFF;
}

.modal-header h2 {
    font-size: 1.25rem;
    text-align: center;
}

.edit-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 3px;
}

.edit-close:hover, .edit-close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.modal-body {
    padding: 2px 16px;
}

.modal-body label {
    margin-top: 20px;
    padding: 0;
    font-weight: bold;
    display: block;
}

.modal-body input {
    width: 100%;
    /* margin-bottom: 20px; */
}

.modal-body input[type="text"], select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

option {
    background-color: #000000;
    color: #FFF;
}

.modal-body #desc {
    width: 100%;
    height: 140px;
    margin-top: 15px;
    padding: 12px 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #161616;
    font-size: 16px;
    resize: none;
    color: #FFF;
    overflow: hidden;
}

.modal-footer {
    margin-top: 10px;
    bottom: 0px;
    height: 66px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.modal-footer #cancelar, .modal-footer #guardar {
    position: absolute;
    bottom: 12px;
    height: 50px;
    width: 132px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer;
    border: 0;
}
.modal-footer #cancelar {
    left: 10px;
    background-color: #da0641;
    border-bottom-left-radius: 15px;
}

.modal-footer #guardar {
    right: 10px;
    background-color: #52a352;
    border-bottom-right-radius: 15px;
}

.modal-footer #cancelar:hover, .modal-footer #guardar:hover {
    transform: scale(1.05);
}

/* ##################################################################################################################################### */

.container-all {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 0.4s;
    transition: all 600ms;
    display: flex;
    align-items: center;
    justify-content: center;
}


  /* Modal Content */
.popup {
    width: 300px;
    height: 600px;
    position: absolute;
    background-color: #161616;
    border-radius: 25px;
    border: solid #FFF;

}
#contenido{
    text-align: center;
    /* width: 350px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top:0;
}
.img{
    margin: 15px 0 5px 0;
    width: 260px;
    height: 260px;
    background: #FFF;
    object-fit: contain;
    border-radius: 25px;
}

.titulo{
    font-size: 20px;   
    margin: 10px 0px 5px 0px;
    
}
.precio{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.container-text{
    width: auto;
    height: 210px;
    overflow-y: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    bottom: 17px;
    font-size: 15px;
}
.container-text p{
    font-size: 16px;
}

.btn-close-popup{
    width: 40px;
    height: 40px;
    right: -20px;
    top: -20px;
    position: absolute;
    background: linear-gradient(
        45deg,
        #f6019d,
        #d40078,
        #9700cc
    );
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    text-decoration: none;
} 
/* Add Animation */

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@media screen and (min-width:992px) {
    .popup {
        width: 800px;
        height: 440px;
    }
    #contenido{
        width: 370px;
        height: 440px;
    }
    .img{
        width: 310px;
        height: 310px;
        margin: 0;
    }
    .container-text{
        position: absolute;
        font-size: 24px;
        width: 400px;
        height: 380px;
        right: 25px;
        top: 28px;
        margin: 0;
    }
}
