::-webkit-scrollbar {
    width:16px
}

::-webkit-scrollbar-thumb {
    height:56px;
    border-radius:8px;
    border:4px solid transparent;
    background-clip:content-box;
    background-color:#484e51
}

::-webkit-scrollbar-thumb:hover {
    background-color:#555c60
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body {
    background-color: #000000;
    color: #FFF;
    font-family: Raleway, sans-serif;
    /* overflow-x: hidden; */
}

#home {
    height: 100vh;
    /* background: linear-gradient(165deg,
        rgb(0 0 0) 0%,
        rgba(0,0,0,.7) 20%,
        rgba(0,0,0,.4) 75%,
        rgba(0,0,0,.2) 100%),
        url(img/bg.jpg); */
    /* background: linear-gradient(0deg, rgba(0,0,0,.7),rgba(0,0,0,.7)),url(img/bg.jpg); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;     */
}

#home .img {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(165deg,
        rgb(0 0 0) 0%,
        rgba(0,0,0,.7) 20%,
        rgba(0,0,0,.4) 75%,
        rgba(0,0,0,.2) 100%),
        url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: hue-animation 2s alternate infinite;
}

@keyframes hue-animation {
    100% {
        filter: hue-rotate(15deg) blur(20px);
    }
}

#home .centered {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .centered #title{
    position: absolute;
    height: 175px;
    width: 340px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 25px;
}
#home .centered #title:before{
    content: "";
    height: 250%;
    width: 250%;
    position: absolute;
    background: conic-gradient(
        #2de2e6,
        #035ee8,
        #f6019d,
        #d40078,
        #9700cc,
        #2de2e6
    );
    left: -75%;
    top: -75%;
    animation: spin 2.5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(-360deg);
    }
}
#home .centered #title:after{
    content: "SIAMES STORE";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    height: 95%;
    width: 97%;
    top: 2.5%;
    left: 1.5%;
    border-radius: 25px;
    font-size: 75px;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 100%;
    text-shadow: 0 0 15px rgba(255,255,255,0.7);
    display: flex;
    align-items: center;
    text-align: center;
}

/* TABLET */

@media screen and (min-width:600px) {
    /* #home {
        border: solid violet;
    } */
    #home .centered #title{
        height: 300px;
        width: 580px;
    }
    #home .centered #title:after{
        font-size: 138px;
    }
}

/* LAPTOP */

@media screen and (min-width:992px) {
    /* #home {
        border: solid red;
    } */
    #home .centered #title{
        height: 140px;
        width: 940px;
    }
    #home .centered #title::before{
        height: 800%;
        width: 600%;
        left: -247%;
        top: -345%;
    }
    #home .centered #title:after{
        height: 88%;
        width: 97.8%;
        top: 6%;
        left: 1.1%;
        font-size: 110px;
        line-height: 113%;
        flex-direction: column;
        align-content: center;
    }
}

/* COMPUTER */

@media screen and (min-width:1200px) {
    /* #home {
        border: solid blue;
    } */
}

/* ACTUALMENTE NO EN USO PERO MUY UTIL PARA BOXES
.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
} */

.scrolldown {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 10vh;
    height: 10vh;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #FFF;
    border-right: 4px solid #FFF;
    border-radius: 7px;
    animation: scroll 1.5s linear infinite;
    opacity: 0;
}

.scrolldown span:nth-child(1){
    transform: translate(-17px, -17px);
    animation-delay: -0.4s;
}

.scrolldown span:nth-child(2){
    transform: translate(0, 0);
    animation-delay: -0.2s;
}

.scrolldown span:nth-child(3){
    transform: translate(17px, 17px);
    animation-delay: 0s;
}

@keyframes scroll {
    0% {
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%,100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}

/* ######################################################################################################################################################################################### */

#products {
    height: 100vh;
    
}

#h2 {
    padding: 7vh 0 7vh 0;
}

#h2 h1 {
    color: #000000;
}

.nav {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

  .nav * {
    box-sizing: border-box;
    transition: all .35s ease;
}

.nav li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
    margin-bottom: 30px;
}

.nav a {
    padding: .5em .8em;
    color: rgba(255,255,255,.5);
    position: relative;
    text-decoration: none;
    font-size: 15px;
}

.nav a::before,
.nav a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

.nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #13f1fc;
    border-right: 3px solid #d40078;
    transform: translate(-100%, 50%);
}

.nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #13f1fc;
    border-left: 3px solid #d40078;
    transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
}
.nav a:hover {
    color: #fff;
}

#container{
    max-width: 800px;
    margin:auto;
    display:flex;
    flex-wrap: wrap;  
    flex-direction: row;
    justify-content: center; 
}

#container .card{
    position:relative;
    width: 170px;
    height: 210px;
    /* top: 100px;  */
    margin:5px 5px 10px 5px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1);
    overflow: hidden;
    transition: .5s;
    border-radius: 25px;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    /* box-shadow: 0px 5px 10px #2de2e6; */
    background-color: #fff;
}
.card .front img{
    position: absolute;
    margin: 0 4px 0 4px;
    width: 162px;
    height: 170px;
    top: 0%;
    object-fit:contain;
}

.card .front div{ 
    position: absolute;
    border: solid #FFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #161616;
    text-align:center;
}

.card .front h3{
    padding-top: 7px;
    font-size: 15px;
}

.card .front h4{
    font-size: 22px;
}

.card .front h4 span{
    font-size: 22px;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: #161616;
    padding: 15px;
    width: 100%;
    height: 100%;
    border: solid #FFF;
    /* color: #000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1);
}

.card .back p{
    font-size: 14px;
    font-weight: 700;
}

.card .back .link{
    border-top: solid #FFF;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
    padding-top: 5px;
}
.card .back .link a{
    color: #2de2e6;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.animated-shadow{
    color:#ffffff;
    font-size: 45px;
    left: 0;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    animation: move linear 2s infinite;
    z-index: 1;
}

@keyframes move{
    0%{
        text-shadow: 
        4px -4px 0 #da0641,
        3px -3px 0 #da0641,
        2px -2px 0 #da0641,
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
        -3px 3px 0 #13f1fc,
        -2px 2px 0 #13f1fc,
        -1px 1px 0 #13f1fc;
    }
    50%{
        text-shadow: 
        -4px 4px 0 #da0641,
        -3px 3px 0 #da0641,
        -2px 2px 0 #da0641,
        -1px 1px 0 #da0641,
        4px -4px 0 #13f1fc,
        3px -3px 0 #13f1fc,
        2px -2px 0 #13f1fc,
        1px -1px 0 #13f1fc;
    }
    75%{
    text-shadow:
        4px 4px 0 #13f1fc,
        3px 3px 0 #13f1fc,
        2px 2px 0 #13f1fc,
        1px 1px 0 #13f1fc,
        -4px -4px 0 #da0641,
        -3px -3px 0 #da0641,
        -2px -2px 0 #da0641,
        -1px -1px 0 #da0641;
    }
    100%{text-shadow: 
        4px -4px 0 #da0641,
        3px -3px 0 #da0641,
        2px -2px 0 #da0641,
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
        -3px 3px 0 #13f1fc,
        -2px 2px 0 #13f1fc,
        -1px 1px 0 #13f1fc;
    }
}

/* ######################################################################################################################################################################################### */

.contenedor{
    padding: 50px 40px;
    text-align: center;
    color: white;

}
.contenedor p {
    max-width: 600px;
    margin: 1px auto;
    font-size: 15px;
    font-weight: 300;
}
.email-box{
    height: 40px;
    justify-content: center;
    display: inline-flex; 
    margin-top: 10px;
    max-width: 290px;
    margin-bottom: 10px;
}

.tbox,.btn{
    border: none;
    outline: none;
}
.tbox{
    width: 0px;
    transition: 0.6s;
}
.email-box:hover > .tbox,.tbox:focus{
    width:500px;
    padding: 0 10px;
}
.btn{
    background: #2f3542;
    color: white;
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}
#text{
    font-size: 9px;
    font-style: italic;
    justify-items: center;
    
}
/* ##################################################################################################################################### */

.container-all {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 0.4s;
    transition: all 600ms;
    padding: 50px;
    
}


  /* Modal Content */
.popup {
    width: 800px;
    position: relative;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    background-color: #161616;
    height: 500px;
    border-radius: 25px;
    border: solid #FFF;
    display: flex;

}
#contenido{
    position: absolute;
    flex-wrap: wrap;
    text-align: center;
    width: 350px;
    display: flex;
    flex-direction: column;
    top:0;
    
    
}
.img{
    background-image: url(../css/img/teclado.jpeg);
    background-size:contain;
    background-position: center;
    margin-bottom: 10px;
    background-repeat:no-repeat;
    position: relative;
    height: 390px;
    top: 15px;
    left:15px;
    width: 350px;
}

.titulo{
    font-size: 20px;   
    margin: 10px 0px 5px 0px;
    
}
.precio{
    font-size: 30px;
    
}
.container-text{
    width: 400px;
    height: 434px;
    overflow-y: auto;
    position: absolute;
    margin-top: 34px;
    right: 5px;
    display: flex;
    flex-direction: column;
}
.container-text p{
    font-size: 16px;
}

.btn-close-popup{
    width: 50px;
    height: 50px;
    position: absolute;
    right: -24px;
    top: -24px;
    background: #161616;
    color: white;
    border-radius: 50%;
    line-height: 10px;
    padding: 20px;
    text-decoration: none;
} 
/* Add Animation */

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@media screen and (max-width:900px){
    .popup{
        align-items: center;
        flex-direction: column;
        height: 800px;
        width: 700px;
        
        
    }
    .img{
        height: 250px;
        margin-bottom: 30px;
        background-position: center;
        background-repeat: no-repeat;
        left: 0px;
        width: 350px;
        
    }
    .titulo {
        font-size: 20px;
    }
    .precio{
        margin-bottom: 20px;
    }
    .container-text{
        width: 100%;
        padding: 10px;
        bottom:15px;
        left: 5px;
    }
    .container-text h1{
        font-size: 30px;
    }
    .container-text p{
        font-size: 20px;
    }
    .btn-close-popup{
        right: -25px;
        top: -20px
    } 
}
@media screen and (max-width:500px){
    .popup{
        flex-direction: column;
        width: 300px;
        height: 550px;
    }
    .img{
        background-position: center;
        background-repeat: no-repeat;
        width: 250px;
        display: flex;
        left: 50px;
    }  
    .container-text{   
        padding: 10px;
        bottom:15px;
        left: 5px;
        height: 170px;
    }
    .container-text p{
        font-size: 15px;
    }
    .btn-close-popup{
        right: -22px;
        top: -23px
    } 
}

