::-webkit-scrollbar {
    width:16px
}

::-webkit-scrollbar-thumb {
    height:56px;
    border-radius:8px;
    border:4px solid transparent;
    background-clip:content-box;
    background-color:#484e51
}

::-webkit-scrollbar-thumb:hover {
    background-color:#555c60
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body {
    background-color: #000000;
    color: #FFF;
    font-family: Raleway, sans-serif;
    /* overflow-x: hidden; */
}

#home {
    height: 100vh;
    /* background: linear-gradient(165deg,
        rgb(0 0 0) 0%,
        rgba(0,0,0,.7) 20%,
        rgba(0,0,0,.4) 75%,
        rgba(0,0,0,.2) 100%),
        url(img/bg.jpg); */
    /* background: linear-gradient(0deg, rgba(0,0,0,.7),rgba(0,0,0,.7)),url(img/bg.jpg); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center;     */
}

#home .img {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(165deg,
        rgb(0 0 0) 0%,
        rgba(0,0,0,.7) 20%,
        rgba(0,0,0,.4) 75%,
        rgba(0,0,0,.2) 100%),
        url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: hue-animation 2s alternate infinite;
}

@keyframes hue-animation {
    100% {
        filter: hue-rotate(15deg) blur(20px);
    }
}

#home .centered {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home .centered #title{
    position: absolute;
    height: 175px;
    width: 340px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    overflow: hidden;
    border-radius: 25px;
}
#home .centered #title:before{
    content: "";
    height: 250%;
    width: 250%;
    position: absolute;
    background: conic-gradient(
        #2de2e6,
        #035ee8,
        #f6019d,
        #d40078,
        #9700cc,
        #2de2e6
    );
    left: -75%;
    top: -75%;
    animation: spin 2.5s infinite linear;
}
@keyframes spin{
    100%{
        transform: rotate(-360deg);
    }
}
#home .centered #title:after{
    content: "SIAMES STORE";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.9);
    height: 95%;
    width: 97%;
    top: 2.5%;
    left: 1.5%;
    border-radius: 25px;
    font-size: 75px;
    font-weight: bold;
    letter-spacing: 6px;
    line-height: 100%;
    text-shadow: 0 0 15px rgba(255,255,255,0.7);
    display: flex;
    align-items: center;
    text-align: center;
}

/* TABLET */

@media screen and (min-width:600px) {
    /* #home {
        border: solid violet;
    } */
    #home .centered #title{
        height: 300px;
        width: 580px;
    }
    #home .centered #title:after{
        font-size: 138px;
    }
}

/* LAPTOP */

@media screen and (min-width:992px) {
    /* #home {
        border: solid red;
    } */
    #home .centered #title{
        height: 140px;
        width: 940px;
    }
    #home .centered #title::before{
        height: 800%;
        width: 600%;
        left: -247%;
        top: -345%;
    }
    #home .centered #title:after{
        height: 88%;
        width: 97.8%;
        top: 6%;
        left: 1.1%;
        font-size: 110px;
        line-height: 113%;
        flex-direction: column;
        align-content: center;
    }
}

/* COMPUTER */

@media screen and (min-width:1200px) {
    /* #home {
        border: solid blue;
    } */
}

/* ACTUALMENTE NO EN USO PERO MUY UTIL PARA BOXES
.glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
} */

.scrolldown {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 10vh;
    height: 10vh;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}

.scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid #FFF;
    border-right: 4px solid #FFF;
    border-radius: 7px;
    animation: scroll 1.5s linear infinite;
    opacity: 0;
}

.scrolldown span:nth-child(1){
    transform: translate(-17px, -17px);
    animation-delay: -0.4s;
}

.scrolldown span:nth-child(2){
    transform: translate(0, 0);
    animation-delay: -0.2s;
}

.scrolldown span:nth-child(3){
    transform: translate(17px, 17px);
    animation-delay: 0s;
}

@keyframes scroll {
    0% {
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%,100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}

/* ######################################################################################################################################################################################### */

#products {
    height: 100vh;
}

#h2 {
    padding: 7vh 0 7vh 0;
}

#h2 h1 {
    color: #000000;
}

/* nav{
    width: 150px;
    margin: auto;
    background: #333;
    font-size: 20px;
    margin-top: 50px;
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
    
}
.menu-horizontal{
    list-style: none;
    display: flex;
    justify-content: space-around;
    border-width: 1px;
    border-style: solid;
}
.menu-horizontal >li >a{
    display: block;
    padding: 15px 10px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: auto;
    
}
.menu-horizontal > li:hover{
    background-color: #da0641;
}
.menu-vertical{
    position: absolute;
    display: none;
    list-style: none;
    background-color: #da0641;
}
.menu-horizontal li:hover .menu-vertical{
    display: block;
    border-style: solid;
    border-color: black;
}
.menu-vertical li:hover{
    background-color: #2de2e6;
}
.menu-vertical li a{
    display: block;
    color: black;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    border-style: solid;
    border-color: black;
} */

#container{
    max-width: 800px;
    margin:auto;
    display:flex;
    flex-wrap: wrap;  
    flex-direction: row;
    justify-content: center;  
}
#container .card{
    position:relative;
    width: 170px;
    height: 210px;
    /* top: 100px;  */
    margin:5px 5px 10px 5px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1);
    overflow: hidden;
    transition: .5s;
    border-radius: 25px;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    /* box-shadow: 0px 5px 10px #2de2e6; */
    background-color: #fff;
}
.card .front img{
    position: absolute;
    margin: 0 4px 0 4px;
    width: 162px;
    height: 170px;
    top: 0%;
    object-fit:contain;
}

.card .front div{ 
    position: absolute;
    border: solid #FFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #161616;
    text-align:center;
}

.card .front h3{
    padding-top: 7px;
    font-size: 15px;
}

.card .front h4{
    font-size: 22px;
}

.card .front h4 span{
    font-size: 18px;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: #161616;
    padding: 15px;
    width: 100%;
    height: 100%;
    border: solid #FFF;
    /* color: #000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1);
}

.card .back p{
    font-size: 14px;
    font-weight: 700;
}

.card .back .link{
    border-top: solid #FFF;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 17px;
    padding-top: 5px;
}
.card .back .link a{
    color: #2de2e6;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

.animated-shadow{
    color:#ffffff;
    font-size: 45px;
    left: 0;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    animation: move linear 2s infinite;
    z-index: 1;
}

@keyframes move{
    0%{
        text-shadow: 
        4px -4px 0 #da0641,
        3px -3px 0 #da0641,
        2px -2px 0 #da0641,
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
        -3px 3px 0 #13f1fc,
        -2px 2px 0 #13f1fc,
        -1px 1px 0 #13f1fc;
    }
    50%{
        text-shadow: 
        -4px 4px 0 #da0641,
        -3px 3px 0 #da0641,
        -2px 2px 0 #da0641,
        -1px 1px 0 #da0641,
        4px -4px 0 #13f1fc,
        3px -3px 0 #13f1fc,
        2px -2px 0 #13f1fc,
        1px -1px 0 #13f1fc;
    }
    75%{
    text-shadow:
        4px 4px 0 #13f1fc,
        3px 3px 0 #13f1fc,
        2px 2px 0 #13f1fc,
        1px 1px 0 #13f1fc,
        -4px -4px 0 #da0641,
        -3px -3px 0 #da0641,
        -2px -2px 0 #da0641,
        -1px -1px 0 #da0641;
    }
    100%{text-shadow: 
        4px -4px 0 #da0641,
        3px -3px 0 #da0641,
        2px -2px 0 #da0641,
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
        -3px 3px 0 #13f1fc,
        -2px 2px 0 #13f1fc,
        -1px 1px 0 #13f1fc;
    }
}
