::-webkit-scrollbar {
    width:16px
}

::-webkit-scrollbar-thumb {
    height:56px;
    border-radius:8px;
    border:4px solid transparent;
    background-clip:content-box;
    background-color:#484e51
}

::-webkit-scrollbar-thumb:hover {
    background-color:#555c60
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

body {
    background-color: #000000;
    color: #FFF;
    font-family: sans-serif;
    /* overflow-x: hidden; */
}

#home {
    height: 100vh;
    width: auto;
}

#home #img {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(165deg,
        rgb(0 0 0) 0%,
        rgba(0,0,0,.7) 20%,
        rgba(0,0,0,.4) 75%,
        rgba(0,0,0,.2) 100%),
        url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: hue-animation 2s alternate infinite;
    z-index: -1;
}

@keyframes hue-animation {
    100% {
        filter: hue-rotate(15deg) blur(20px);
    }
}

#home .centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#home #title {
    color: #000000;
    font-size: 40px;
    text-align: center;
    padding: 5vh 0;
    animation: move linear 2s infinite;
}

@keyframes move{
    0%{
        text-shadow: 
        4px -4px 0 #da0641,
        3px -3px 0 #da0641,
        2px -2px 0 #da0641,
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
        -3px 3px 0 #13f1fc,
        -2px 2px 0 #13f1fc,
        -1px 1px 0 #13f1fc;
    }
    50%{
        text-shadow: 
        -4px 4px 0 #da0641,
        -3px 3px 0 #da0641,
        -2px 2px 0 #da0641,
        -1px 1px 0 #da0641,
        4px -4px 0 #13f1fc,
        3px -3px 0 #13f1fc,
        2px -2px 0 #13f1fc,
        1px -1px 0 #13f1fc;
    }
    75%{
    text-shadow:
        4px 4px 0 #13f1fc,
        3px 3px 0 #13f1fc,
        2px 2px 0 #13f1fc,
        1px 1px 0 #13f1fc,
        -4px -4px 0 #da0641,
        -3px -3px 0 #da0641,
        -2px -2px 0 #da0641,
        -1px -1px 0 #da0641;
    }
    100%{text-shadow: 
        4px -4px 0 #da0641,
        3px -3px 0 #da0641,
        2px -2px 0 #da0641,
        1px -1px 0 #da0641,
        -4px 4px 0 #13f1fc,
        -3px 3px 0 #13f1fc,
        -2px 2px 0 #13f1fc,
        -1px 1px 0 #13f1fc;
    }
}

#agregar {
    width: 160px;
    height: 70px;
    background-color: #08a81d;
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
    border: solid #FFF;
    /* box-shadow: 0 3px 5px rgba(0,0,0,0.1); */
    transition: .5s;
} 

#agregar:hover {
    transform: scale(1.05);
}

#container{
    max-width: 800px;
    margin:auto;
    display:flex;
    flex-wrap: wrap;  
    flex-direction: row;
    justify-content: center;  
}
#container .card{
    position:relative;
    width: 170px;
    height: 210px;
    /* top: 100px;  */
    margin:5px 5px 10px 5px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-shadow: 0 0.03rem 0.06rem rgba(0,0,0,0.1), 0 0.1rem 0.3rem rgba(0,0,0,0.1);
    overflow: hidden;
    transition: .5s;
    border-radius: 25px;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    /* box-shadow: 0px 5px 10px #2de2e6; */
    background-color: #fff;
}
.card .front img{
    position: absolute;
    margin: 0 4px 0 4px;
    width: 162px;
    height: 170px;
    top: 0%;
    object-fit:contain;
}

.card .front #card-footer{ 
    position: absolute;
    border: solid #FFF;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #161616;
    text-align:center;
}

.card .front h3{
    padding-top: 7px;
    font-size: 15px;
}

.card .front h4{
    font-size: 22px;
}

.card .front h4 span{
    font-size: 18px;
}

#buttoms {
    position: absolute;
    background-color: #161616;
    height: 120px;
    width: 64px;
    top: 0;
    right: 0;
    border-radius: 30px;
    opacity: 0;
    border: solid #FFF;
}

#buttoms #edit {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 5px;
    left: 4px;
    background-image: url(img/edit.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}

#buttoms #remove {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 60px;
    left: 4px;
    background-image: url(img/remove.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .5s;
}

.card:hover .front{
    transform: scale(1.05);
}

.card:hover .front #buttoms{
    opacity: 100;
}

#buttoms #edit:hover {
    transform: scale(1.05);
}

#buttoms #remove:hover {
    transform: scale(1.05);
}

/* ############ LAPTOP ########## */

@media screen and (min-width:992px) {
    #home #title {
        font-size: 75px;
        margin-top: 8vh;
    }

    #agregar {
        margin-bottom: 3vh;
    }
}