body {
    color: #FFF;
    font-family: Raleway, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.welcome {
    height: 100vh;
    border: 2px dashed #f69c55;
}

.tittle {
    display: inline-block;
    font-size: 16vh;
    text-align: center;
    font-weight: bold;
    line-height: 17vh;
    margin: 40vh 16%;
    padding: 0px 1.4%;
    background-color: #282b30;
    box-shadow: 10px 10px 8px #1e2124;
    border-radius: 20px;
    z-index: 0;
}

.scrolldown {
    position: absolute;
    bottom: -3vh;
    left: 50%;
    width: 4vh;
    height: 4vh;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
    z-index: 0;
}

.scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #FFF;
    border-right: 3px solid #FFF;
    border-radius: 7px;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.scrolldown span:nth-child(1){
    transform: translate(-15px, -15px);
    animation-delay: -0.4s;
}

.scrolldown span:nth-child(2){
    transform: translate(0, 0);
    animation-delay: -0.2s;
}

.scrolldown span:nth-child(3){
    transform: translate(15px, 15px);
    animation-delay: 0s;
}

@keyframes animate {
    0% {
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%,100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}

.topbg {
    position: absolute;
    z-index: -1;
}

.topbg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg,rgb(0 0 0) 10%,rgba(0,0,0,.7) 50%,rgba(0,0,0,.4) 75%,rgba(0,0,0,0) 100%);
}

.blob {
    animation: hue-animation 5s alternate infinite;
    height: 100vh;
    left: -13%;
    background-repeat: no-repeat;
    position: relative;
    /* left: -15%; */
    /* z-index: -1; */
    /* transform: rotate(60deg); */
}

@keyframes hue-animation {
    100% {
        filter: hue-rotate(45deg) blur(20px);
    }
}

.products {
    font-size: 110px;
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

